.test {
  color: #a22600;
}

/* :root {
  --accent-color: #ff3d00;


}


a:hover {
  color: #fb5421;
}

a:active {
  color: #ff4c4c;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  background-color: #fb5421;
}

button:active {
  background-color: #ff4c4c;
}

button:focus,
button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000;
    background-color: #fff;
  }

  a:hover {
    color: #aa2800;
  }

  a:active {
    color: #641700;
  }

  button {
    background-color: var(--accent-color);
  }

  button:hover {
    background-color: #aa2800;
  }

  button:active {
    background-color: #641700;
  }
} */